.header-wrap {
    background-color: #42313A;
    width: 100%;
    left: 0;
}
.app-header {
    color:#F1DCC9;
    display: grid;
    grid-template-areas: "l h b" "l t b";
    grid-template-columns: 120px auto 100px;
    /* grid-template-rows: auto; */
    max-width: 800px;
    margin: auto;
}
.logo {
    grid-area: l;
}
@media (max-width:413px) {
    .app-header {
    grid-template-areas: "h l" "t b";
    grid-template-columns: auto 120px;
    }
    .logo {
        transform: scaleX(-1);
    }
}
.logo svg {
    padding: 5px 15px ;
}
.title {
    text-align: center;
    grid-area: h;
    padding-left: 10px;
}
.greetings {
    text-align: center;
    font: normal 1.2rem 'century gothic', arial, sans-serif;
    grid-area: t;
    padding-left: 10px;
}
.output {
    color: #fff;
    font-weight: bold;
}
.btn-container {
    justify-self: end;
    align-self: end;
    padding: 10px;
    grid-area: b;
}
.logout_btn {
    background-color: #6C2D2C;
    color: #fff;
}