.filter {
    text-align: center;
}
.filter input, .filter button {
    margin-bottom: 15px;
    margin-left: 5px;
}
.filter input {
    margin-right: 0px;
    width: 200px;
}
.filter .input-wrap {
    white-space: nowrap;
}
    .filter .clear {
    margin-left: -15px;
    border: 2px solid #42313A;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding: 3px;
    padding-bottom: 4px;
    background-color: white;
}
.filter .clear:hover {
    font-weight: bold;
    background-color: white;
    color: #42313A;
}
.filter .btn-group {
    white-space: nowrap;
}
.filter button {
    background-color:#F1DCC9;
}
.filter button.active {
    color: white;
    background-color: #6C2D2C;
}
